.products_prev {
    width: 1440px;
    margin: auto;
    background-color: #44B26F;
    padding-top: 20px;
    padding-bottom: 89px;
    padding-left: 29px;   
}

.products_prev_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 62px;
    padding-left: 116px;
    padding-right: 145px;
    gap: 82px;
}