.form_login {    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 670px;
    background-color: #F5F5F5;
    padding-top: 81px;
    padding-bottom: 213px;
}

.form_login_img {
    margin-bottom: 85px;
}

.form_login_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_login_item {
    width: 277px;
    margin-bottom: 46px;
    padding: 20px 0 20px 20px;
    background-color: #D9D9D9;
    border: none;

}

.form_login_item:last-of-type {
    margin-bottom: 37px;

}

.form_login_item::placeholder {
    color: #44B26F;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.form_login_btn {
    display: flex;
    justify-content: center;
    width: 277px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #44B26F;
    border: none;
    transition: all 0.5s;
}

.form_login_btn:hover {
    color: #44B26F;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px #44B26F, inset 0 0 10px 7px #44B26F;
    transition: all 0.5s;
}